{{> head }}
  
{{> navbar }}
    
<div class="row">
    <div class="col-8">
        <h1>Imagen super chuli</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae repudiandae, amet eius eveniet voluptate odio in est ipsum consequatur dicta, sunt voluptatum iure distinctio similique quas dignissimos enim minima asperiores!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/img1.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}